/*
Error: Invalid GBK character "\xE5"
        on line 18 of common.scss

13:     &:focus {
14:         outline: none;
15:     }
16: }
17: 
18: /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*\/  
19: ::-webkit-scrollbar  
20: {  
21:     width: 0px;  
22:     height: 0px;  
23:     background-color: #F5F5F5;  

Backtrace:
common.scss:18
F:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.24/lib/sass/util.rb:1325:in `rescue in block in find_encoding_error'
F:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.24/lib/sass/util.rb:1322:in `block in find_encoding_error'
F:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.24/lib/sass/util.rb:1321:in `each'
F:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.24/lib/sass/util.rb:1321:in `each_with_index'
F:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.24/lib/sass/util.rb:1321:in `find_encoding_error'
F:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.24/lib/sass/util.rb:930:in `check_sass_encoding'
F:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.24/lib/sass/engine.rb:436:in `check_encoding!'
F:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.24/lib/sass/engine.rb:392:in `_to_tree'
F:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.24/lib/sass/engine.rb:281:in `render'
F:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:494:in `update_stylesheet'
F:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
F:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:209:in `each'
F:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
F:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.24/lib/sass/plugin.rb:82:in `update_stylesheets'
F:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.24/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
F:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.24/lib/sass/exec/sass_scss.rb:51:in `process_result'
F:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.24/lib/sass/exec/base.rb:52:in `parse'
F:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.24/lib/sass/exec/base.rb:19:in `parse!'
F:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.24/bin/scss:13:in `<top (required)>'
F:/Ruby22-x64/bin/scss:23:in `load'
F:/Ruby22-x64/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid GBK character \"\xE5\"\A         on line 18 of common.scss\A \A 13:     &:focus {\A 14:         outline: none;\A 15:     }\A 16: }\A 17: \A 18: /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  \A 19: ::-webkit-scrollbar  \A 20: {  \A 21:     width: 0px;  \A 22:     height: 0px;  \A 23:     background-color: #F5F5F5;  "; }
